@font-face{
    font-family: MRegular;
    src: url(assets/MYRIADPRO-REGULAR.OTF);
}
@font-face{
    font-family: MLight;
    src: url(assets/MyriadPro-Light.otf);
}
@font-face{
    font-family: MBold;
    src: url(assets/MYRIADPRO-BOLD.OTF);
}
@font-face{
    font-family: ALight;
    src: url(assets/Archivo-VariableFont_wdth\,wght.ttf);
}
*{
    padding:0px;
    
}
body{
    background: linear-gradient(to left bottom, #59585878,#c2c0bf00);
    background-repeat: no-repeat;
}
.search{
    float:right;
    margin-right:100px;
    margin-top:14px;
}
.search input{
    border:none;
    background: transparent;
    font-size:20px;
    width:130px;
}
.nav {
    margin:50px;
    font-family: 'ALight';
    padding: 40px ;
}

.nav a {
  float: left;
  color:#000;
  padding: 10px;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
}
.nav-left{
    float:left;
}
.nav-left img{
    height:80px;
    float:left;
}
.nav-left h2{
    font-family: 'Barlow Condensed', sans-serif;
    float:right;
    font-size: 32px;;
    padding-left:15px;
}
.nav-left::after{
    display:block;
    content:"";
    clear:both;
}
.nav-right {
  float: right;
}
.nav-right a{
    font-size:18px;
    padding-left:70px;
}

.main{
    font-family: 'MLight';
    margin:55px 120px auto 120px;
}
.mbold{
    font-family: 'MBold';
    
}
.main .heading{
    font-size: 40px;
    float:left;
    padding-top:20px;
    padding-left:50px;
}

.main img{
    float:right;
}
.main::after{
    display:block;
    content:"";
    clear:both;
}
.main button{
    background-color: #5a585b;
    height:50px;
    width:160px;
    color:#fff;
    border:none;
    font-size:25px;
    font-weight: 600;
    border-radius:20px;
}
.wrapper{
    margin:40px 90px auto 90px;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.wrapper svg{
    vertical-align: bottom;
}
.wrapper .feat{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size:20px;
    color:#696969;
    margin: auto 70px auto 100px;
}
.cover{
    display:flex;
    gap:6rem;
}
.next-icon{
    padding-left:100px
}
.container{
    background-color: #fff;
    padding: 10px 25px 15px 25px;
    position: relative;
    height:140px;
    width:200px;
    border-radius:30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.cost{
    display: flex;
    justify-content: space-between;
}
.container img{
    position: absolute;
    top:-25px;
    overflow: hidden;
    height:90px;
}

.extra{
    height:100px;
}
@media screen and (max-device-width: 1200px) { 
    .wrapper{
        display:block;
    }
    .wrapper svg{
        display: none;
    }
    .wrapper .feat{
        transform: rotate(270deg);
        margin-bottom: 30px;
    }
    .cover{
        display:block;  
    }
    .container{
        margin-bottom:40px;
    }
}
@media screen and (max-device-width: 768px) { 
    
    .search{
        margin-top:0px;
        margin-right: 5px;
    }
    .nav{
        padding:0px;
        margin:10px;
    }
    .nav-right a{
        float: left;
        padding-left: 10px;
    }
    .nav-left{
        margin-top:10px;
    }
    .nav-left img{
        margin-left:0px;
        margin-top:10px;
    }
    .main{
        margin: 0px;
        text-align: center;
    }
    .main .heading{
        padding-right:60px;
    }
    .main h1{
        font-size: 50px;
        float:none;
        margin-bottom: 5px;
    }
    .main button{
        margin-bottom:10px;
    }
    .main img{
        height:250px;
        width:250px;
        float: none;
        margin-right: 0px;
        padding-right:0px;
    }
    .main .heading{
        font-size: 40px;
        float:right;
        padding-top:0px;
        padding-left:0px;
    }
    .wrapper{
        display:block;
        margin-left:0px;
        position: relative;
        left: 50%;
        top: auto;
        transform: translate(-50%, 10px);
    }
    .wrapper svg{
        display: none;
    }
    .wrapper .feat{
        transform: rotate(270deg);
        margin-bottom: 30px;
    }
    .cover{
        display:block;
    }
    .container{
        margin-bottom:40px;
    }
}